html {
	height:100%;
}
body {
	min-height:100%;
	position:relative;
	padding-bottom:3em;
}
.header{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.nav{
  font-size:20px;
  text-transform: uppercase;	
  padding:0px;	
  margin-bottom:15px;
}
.navpad { 
	margin:5px; 
	padding:5px; 
	background-color:#99cc66;
	border:2px solid #76b13a;
	border-radius:5px;
}
.nav ul{
	text-align: center;
	padding:0px;
	list-style-type:none;
	margin:0px;
}
.nav li{
	padding:0px;
	margin:0px;
	border:1px solid black;
	background-color:#99cc66;
}
.nav li:hover{
	background-color:#748cbc;
}
li.current{
	background-color:#60912f;
}
#current{
	background-color:#60912f;
	border:2px solid #558129;
}
.nav a{
	display:block;
	padding:15px;
	margin:0px;
	text-decoration:none;
	color:white;
}
.container{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.container p{
	
	font-size:19px;
	
}
.container form{

	font-size:19px;
}
.container table {
	font-size:16px;
}
tr:nth-child(even) {
    background-color: #accee8;
}
tr:nth-child(odd) {
    background-color: #d0e3f2;
}

#luennot {
	margin-left:auto;
	margin-right:auto;
}


#tauluhead {
	background-color: #748eba;
}
.taulu {
	padding:5px;
}

.taulureuna {
	border-right: 1px solid #ffffff;
}

.blank_row
{
    height: 15px !important;
    background-color: #748eba !important;
}

.container input {
	margin-bottom:10px;
}

.input-hidden {
	position: absolute;
	left: -9999px;
}

input[type=radio]:checked + label>img {
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #090;
}

.virhe {
	display: block;
	background-color: #ff8080;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border:2px solid #ff0000;
	width:20%;
	padding-top:7px;
	padding-bottom:7px;
}
.footer{
	text-align:center;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	position: absolute;;
	bottom:0;	
	padding-top:7px;
	padding-bottom:7px;
	background-color:#f4f4f4;
	width: 100%;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
